<div class="container" *ngIf="weatherDatas">
  <div class="upper-data">
    <img [src]="weatherImage" alt="" srcset="" />
    <div class="weather-data">
      <div class="location">{{ weatherDatas.name }}</div>
      <div class="temperature">
        {{ weatherDatas.main.temp | number : "1.0-0" }}ºC
      </div>
    </div>
  </div>
  <section class="lower-data">
    <header class="more-info-label">More Info</header>
    <div class="more-info-container">
      <app-weather-card-info-block
        class="info-block"
        [icon]="minTemperatureIcon"
        label="Min."
        [value]="weatherDatas.main.temp_min"
        symbol="ºC"
      />

      <app-weather-card-info-block
        class="info-block"
        [icon]="maxTemperatureIcon"
        label="Max."
        [value]="weatherDatas.main.temp_max"
        symbol="ºC"
      />

      <app-weather-card-info-block
        class="info-block"
        [icon]="humidityIcon"
        label="Humidity"
        [value]="weatherDatas.main.humidity"
        symbol="%"
      />

      <app-weather-card-info-block
        class="info-block"
        [icon]="windIcon"
        label="Wind"
        [value]="weatherDatas.wind.speed"
        symbol=" km/h"
      />
    </div>
    <footer></footer>
  </section>
</div>
