<div class="container" *ngIf="weatherDatas">
  <div class="upper-data">
    <img [src]="weatherImage" alt="" srcset="" />
    <div class="weather-data">
      <div class="location">{{ weatherDatas.name }}</div>
      <div class="temperature">
        {{ weatherDatas.main.temp | number : "1.0-0" }}ºC
      </div>
    </div>
  </div>
  <section class="lower-data">
    <header class="more-info-label">More Info</header>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon size="lg" [icon]="minTemperatureIcon"></fa-icon>
          <span>Min.</span>
        </div>
        <div class="info-block-value">
          {{ weatherDatas.main.temp_min }}
        </div>
      </div>
    </div>
    <footer></footer>
  </section>
</div>
